<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- head -->
	<div th:replace="fragments :: head"></div>
    
	<title>Best of 2021</title>
</head>

<body>
	<!-- navbar -->
	<navbar th:replace="fragments :: navbar"></navbar>

	<div class="row justify-content-center">
		<div class="card m-5 p-2" style="width: 30rem;">
			<h4 class="text-center" th:text="|Best of 2021 by ${name}|"></h4>
			<img th:src="@{/img/sparkle_sticks.jpg}" class="card-img-top" alt="fireworks">
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	
	<!-- scripts -->
	<div th:replace="fragments :: scripts"></div>
</body>

</html>